            @keyframes kkkkj {
                
                from {
                    width: 1px;
                }
                to {
width: 900px;
                    
                }
                
                
            }
            #kkkkkkk {
                animation-name: kkkkj;
                animation-duration: 700s;
            }
            
            
